.back-button {
  position: absolute;
  top: 4.2em;
  left: 1.7em;
  width: 6.5em;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 1.875rem;
  background-color: #2dcee3;
}

.back-button:hover {
  background-color: #00bdd4;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .back-button {
    top: 4.8em;
    left: 1.3em;
    width: 6.6em;
    height: 1.9em;
    font-size: 1.3em;
  }
}
