@import url("https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap");

.footer {
  font-family: lato;
  position: absolute;
  height: 80px;
  width: 100%;
  margin-top: 10em;
  background: #464646;
  display: flex;
  justify-content: center;
}

.footer-text {
  margin-top: 1.6em;
  font-size: 16px;
  font-weight: 600;
  color: #cccccc;
}
